:root {
  --form-container-background: #fff;
  --background-difficulty-hover: rgb(21, 18, 48);
  --background-category-hover: rgb(129, 5, 15);
  --background-category-hover-1: rgb(247, 120, 70);

  --background-input-form: #dce4eb;
  --background-start: rgb(247, 214, 70);
  --background-start-hover: rgb(211, 89, 40);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  width: 100%;
}

input,
select {
  outline: none;
  border: none;
  border-radius: 5px;
}

@media (min-width: 210px) {
  .form_container {
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    background-image: linear-gradient(
      to bottom,
      #1f7a65,
      #1b897b,
      #179993,
      #18a8ab,
      #21b7c4
    );
    border-radius: 7px;
  }

  .form_content {
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 0 0.5rem;
  }

  .welcome_title {
    font-size: 20px;
    text-align: left;
  }

  .wrap_form {
    width: 100%;
  }

  .form_control {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0;
    color: #fff;
  }

  .form_control select {
    transition: all 0.4s ease-in-out;
  }

  .form_control select[name="category"]:hover {
    color: #fff;
    background-color: var(--background-category-hover);
  }

  .form_control select[name="difficulty"]:hover {
    color: #fff;
    background-color: var(--background-difficulty-hover);
  }

  .input_form {
    background-color: var(--background-input-form);
    padding: 0.5rem 0;
  }

  .btn_submit {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--background-start);
    margin: 1.8rem 0 0.5rem;
    padding: 0.25rem 0;
    justify-content: center;
    text-align: center;
    color: rgb(14, 15, 39);
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
    outline: none;
  }

  .btn_submit:hover {
    border: 1px solid #fff;
    color: #f4f4f4;
    background-color: var(--background-start-hover);
  }

  .error_msg {
    width: 80%;
    margin: auto;
    text-align: center;
    align-items: center;
    color: red;
  }
}
