:root {
  --background-color-icon1: rgb(179, 52, 52);
  --background-color-icon2: green;
  --background-color-status: rgb(7, 146, 7);
  --background-dark-purple: rgb(32, 1, 36);
  --background-medium-purple: rgb(102, 13, 98);
  --background-light-purple: rgb(151, 21, 145);
  --background-cool-gray: #615e5e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  width: 100%;
}

@media (min-width: 210px) {
  .answering_side {
    width: 96%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px dashed var(--background-dark-purple);
  }

  .station_land {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.35rem;
    padding: 0.75rem 0.75rem 0 0;
  }

  .station_label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.25rem 0.5rem;
    font-size: 12px;
    color: #fff;
    background-color: var(--background-color-status);
  }

  .station_grade {
    display: inline-block;
    align-items: center;
  }

  .listening_question {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-block: 1rem;
    z-index: 2;
  }

  .listening_question .asked_for {
    width: 90%;
    text-align: center;
    align-items: center;
    padding: 0.2rem 0;
    font-size: 12px;
    margin: auto;
  }

  .see_answer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.35rem 0.5rem;
    color: #fff;

    background-color: var(--background-cool-gray);
    font-size: 14px;
    margin: auto;
    outline: none;
    border: none;
    z-index: 20;
  }

  .bloc_answer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: var(--background-light-purple);
    /* border: 1px solid rgb(192, 35, 43); */
    margin: 1rem auto;
  }

  .right_answer_was {
    display: flex;
    text-align: center;
    align-items: center;
    margin: auto;
  }

  /* icons grade */

  .bi-dash,
  .bi-plus {
    font-size: 15px;
    padding: 0.1rem 0.15rem;
    border-radius: 50%;
    color: #fff;
    background-color: var(--background-color-icon1);
  }

  .bi-plus {
    background-color: var(--background-color-icon2);
  }
}

@media (min-width: 416px) {
  .listening_question .asked_for {
    padding: 0.75rem 0;
    font-size: 16px;
  }
}

@media (min-width: 730px) {
  .listening_question {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-block: 1rem;
    z-index: 2;
  }

  .listening_question .asked_for {
    width: 70%;
    text-align: left;
    padding: 0.75rem 0;
    font-size: 19px;
  }

  .bloc_answer {
    width: 50%;
  }

  .see_answer {
    font-size: 17px;
  }
}
