:root {
  --background-light-purple-blue: rgb(105, 105, 167);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div,
ul,
li {
  width: 100%;
}

ul {
  list-style: none;
}

@media (min-width: 210px) {
  .resume_container {
    position: relative;
    width: 100%;

    display: flex;
    gap: 1rem;
    margin: auto;
    z-index: 1;
  }

  .resume_container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d4d0d0;
    z-index: -1;
  }

  .resume_content {
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .resume_title {
    width: 200px;
    height: auto;
    color: #fff;
    padding: 0.35rem 0;
    margin: 1.2rem 0 1rem;
    font-weight: bolder;
    text-align: center;
    background-color: #8f8e8e;
    border-radius: 5px;
  }

  /* primarly response */

  .primarly_response {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.25rem;
  }

  /* scored division */

  .scored {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    background-color: var(--background-light-purple-blue);
    font-size: 14px;
    color: #ddd;
  }

  .score_hit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.4rem 0;
    text-align: center;
    margin: auto;
  }

  .continue_game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
  }

  .btn_game_on {
    display: block;
    text-align: center;
    font-size: 14px;
    padding: 0.35rem;
    color: #fff;
    background-color: green;
  }
}
