* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@media (min-width: 210px) {
  .App {
    position: static;
    width: 100vw;
    background-color: #ddd;
  }

  .App_container {
    width: 100%;
    margin: auto;
  }
}
